<p>{{appointment.id}}</p>
<p>{{appointment.title}}</p>
<p>{{appointment.date}}</p>

<div>
    <input [(ngModel)] = "newAppointmentTitle" placeholder="Input the appointment's title">
    <input [(ngModel)] = "newAppointmentDate" type="date" placeholder="Choose appointment's date">
    <button (click)="addAppointment()" >Add</button>

</div>

<ul>
    <li *ngFor="let appointment of appointments; index as i">
        {{appointment.title}} {{appointment.date | date: 'dd.MM.yyyy'}}
        <button (click) ="deleteAppointment(i)">Delete</button>
    </li>
</ul>